* {
    background-color: brown;
}

spam p {
    font-family: JetBrains Mono;
    color: White;
    font-size: 24px;
    text-align: center;
}

div {
    font-family: JetBrains Mono Light;
    color: white;
    font-size: 21px;
}
body {
    margin: 20%;
}